pipeline/Table_Copy_Table_ASQL_ADLS.json
{
	"name": "Table_Copy_Table_ASQL_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Copy_Table_ASQL_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ASQL_AWDW_Table",
						"type": "DatasetReference",
						"parameters": {
							"DataBaseName": {
								"value": "@pipeline().parameters.DataBaseName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_DataLAkeUDemy_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable FileName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@{pipeline().parameters.TableName}_@{\n    formatDateTime(utcnow(),'yyyyMMdd')    \n    }.csv",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DataBaseName": {
				"type": "string",
				"defaultValue": "azureAdventureWorksDW"
			},
			"TableName": {
				"type": "String"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2.-Move And Transform Activities"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-19T20:15:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}